*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
}
body{
  font-family: "Lato", sans-serif;
  background-color: rgb(119, 0, 0);
}
.container{
  max-width: 1200px;
  margin: 20px auto;
}
.debug{
  border: 1px solid black;
}
.colum{
  height: 550px;
}
.d-flex{
  display: flex;
}
.row .colum:first-child{
  width: 30%;
}























.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}
