*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
}
body{
  font-family: "Lato", sans-serif;
  background-color: #009688;
}
.container{
  max-width: 1200px;
  margin: 20px auto;
}
.back-sky{
  background-color: #8edafc;
}
.scroll{
  overflow: scroll;
}
.heig-avatar{
  height: 70px;
}
.ali-cent{
  align-items: center;
}
.just-arau{
  justify-content: space-between;
}
.debug{
  border: 1px solid black;
}
.colum{
  height: 550px;
}
.d-flex{
  display: flex;
}
.direc-colum{
  flex-direction: column;
}
.row .colum:first-child{
  width: 40%;
}

.chat{
  height: calc(100% - 140px);
}
.colum{
  width: 100%;
}
.ricevuto{
  background-color: grey;
  border-radius: 10px;
  margin: 20px 120px;
  width: 40%;
  padding: 10px;
}
.inviato{
  background-color: rgb(88, 235, 127);
  border-radius: 10px;
  margin: 20px 120px;
  width: 40%;
  align-self: self-end;
  padding: 10px;
}
.avatar{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.contatti{
  height: calc(100% - 200px);

}
.notifiche{
  height: 80px;
}
.cerca{
  padding: 7px 10px;
  background-color: #e9e9ed;
  height: 50px;
}
.focus,.notifiche{
  padding: 0px 10px;
}
.fa-solid{
  margin: 5px;
}
.silence {
  padding: 15px 12px;
  background-color: white;
  border-radius: 50%;
  }
.fa-bell-slash{
  font-size: 1.4rem;
}
.notifiche-txt {
  margin-left: 10px;
}
.cerca > button:nth-child(1) {
  height: 35px;
  padding: 2px 25px;
  float: left;
  border: none;
  background-color: white;
}
.cerca > input:nth-child(2) {
  width: 80%;
  height: 35px;
  border: none;
}























.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}
