*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
}
body{
  font-family: "Lato", sans-serif;
  background-color: rgba(119, 0, 0, 0.317);
}
.container{
  max-width: 1200px;
  margin: 20px auto;
}
.scroll{
  overflow: scroll;
}
.heig-avatar{
  height: 50px;
}
.ali-cent{
  align-items: center;
}
.just-arau{
  justify-content: space-between;
}
.debug{
  border: 1px solid black;
}
.colum{
  height: 550px;
}
.d-flex{
  display: flex;
}
.direc-colum{
  flex-direction: column;
}
.row .colum:first-child{
  width: 30%;
}

.chat{
  height: calc(100% - 100px);
}
.colum{
  width: 100%;
}
.ricevuto{
  background-color: grey;
  border-radius: 10px;
  margin-left: 50px;
  width: 50%;
}
.inviato{
  background-color: rgb(88, 235, 127);
  border-radius: 10px;
  margin-right: 50px;
  width: 50%;
  align-self: self-end;
}
.avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.contatti{
  height: calc(100% - 150px);

}























.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}
